/* This is a CSS thingo */

h1 {
  text-align: center;
  font-size: 40px;
  font-style: bold;
  color: black;
}

p {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  color: black;
}

body{

}

button {
  font-size: 44px;
}

.backgroundimg {

}

.searchbar {
  margin-left: 45%;
  margin-top: 10%;
}

.list {
  margin-left: 45%;
  margin-top: 5%;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.locations {
  margin-left: 45%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
}
