/* This is a CSS thingo */

h1 {
  text-align: center;
  font-size: 40px;
  font-style: bold;
  color: black;
}

p {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  color: black;
}

body{

}

button {
  font-size: 44px;
}
  /* NAVIGATION: */
/* Add a black background color to the top navigation */
nav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  display: block;
  /* color: #577399; */
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: grey;
  color: #E7DFDD;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: #e8491d;
  color: white;
}

.locations {
  margin-left: 19%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
}

.backgroundimg {

}

.searchbar {
  margin-left: 45%;
  margin-top: 10%;
}

.list {
  margin-left: 45%;
  margin-top: 5%;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.enquirebutton {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
}
