
h1 {
  text-align: center;
  font-size: 40px;
  font-style: bold;
  color: black;
}

p {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  color: black;
}

button {
  font-size: 44px;
}
  /* NAVIGATION: */
/* Add a background color to the top navigation */
nav {
  background-color: #1CC829;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 112px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: grey;
  color: #E7DFDD;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: #e8491d;
  color: white;
}

.locations {
  margin-left: 19%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
}

/* The image is centered and non repeating.*/
.backgroundimg {
background-image: url("#");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
height: auto;
max-width: 100%;
}

.searchbar {
  margin-left: 45%;
  margin-top: 10%;
}

.list {
  margin-left: 45%;
  margin-top: 5%;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.enquirebutton {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

}

.information p {
  text-align: left;
  font-size: 20px;
  font-style: normal;
  color: black;
}
