/* This is a CSS thingo */

h1 {
  text-align: center;
  font-size: 40px;
  font-style: bold;
  color: black;
}

p {
  text-align:center;
  font-size: 20px;
  font-style: normal;
  color: black;
}

body{

}

.backgroundimg {

}

.searchbar {
  margin-left: 45%;
  margin-top: 50%;
}
